@media (max-width: 376px) {
    .container {
        padding: 0 16px;
    }

    h2 {
        font-size: 24px;
    }

    .header {
        margin-bottom: 40px;
    }

    .btn {
        width: 100%;
        text-align: center;
        margin-bottom: 22px;
    }

    .first_screen {

        flex-direction: column-reverse;
    }

    .properties_list {
        top: 0;
        padding-bottom: 33px;
    }

    .properties_item {
        flex-direction: column-reverse;
        justify-content: start;
        width: calc(50% - 15px);
    }

}